@tailwind base;
@tailwind components;
@tailwind utilities;

.-z-10 {
  z-index: -10;
}

.h-192 {
  height: 48rem;
}

.h-144 {
  height: 36rem;
}

.w-128 {
  width: 32rem;
}

.bottom-16 {
  bottom: 4rem;
}

.right-16 {
  right: 4rem;
}
