:root {
  --background-page: #f5f5f5;
  --shadow-low: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048);
  --shadow-high: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  /* Text */
  --text-primary: #2d3748;
  --text-secondary: #2d3748;

  /* Colors */
  --color-border: #cbd5e0;

  --color-background-button: #edf2f7;
  --color-background-button__hover: #e2e8f0;

  --color-foreground-get: #44337a;
  --color-background-get: #faf5ff;
  --color-background-get__hover: #e9d8fd;

  --color-foreground-post: #22543d;
  --color-background-post: #f0fff4;
  --color-background-post__hover: #c6f6d5;

  --color-foreground-put: #7b341e;
  --color-background-put: #fffaf0;
  --color-background-put__hover: #feebc8;

  --color-foreground-patch: #744210;
  --color-background-patch: #fffff0;
  --color-background-patch__hover: #fefcbf;

  --color-foreground-delete: #742a2a;
  --color-background-delete: #fff5f5;
  --color-background-delete__hover: #fed7d7;

  --color-background-primary: #ffffff;
  --color-background-secondary: #edf2f7;

  /* Layout */
  --sidebar-width: 24rem;

  /* Icons */
  --icon-default: #4a5568;
  --icon-hover: #1a202c;
}

/* @media (prefers-color-scheme: dark) {
   TODO build the dark mode 
  :root {
    --text-primary: #ffffff;
  }
} */

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-size: 16px;
  color: var(--text-primary);
  background-color: var(--background-page);
}

/* Typography */

h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
}

.text-secondary {
  color: var(--text-secondary);
}

p {
  margin: 0;
  margin-bottom: 0.25rem;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

/* === Inputs === */

/* Text Input */

input {
  font-size: 1rem;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  border: solid 1px var(--color-border);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  line-height: 1.25;
}

input:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

input:hover {
  border-color: rgba(160, 174, 192, 1);
}

.text-input {
  display: flex;
  flex-direction: column;
}

select {
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.5rem;
  border: solid 1px #e2e8f0;
}

textarea {
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.5rem;
  border: solid 1px #e2e8f0;
}

/* Buttons */

button,
.button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.25rem;
  padding: 0.3rem 0.8rem;
  margin-right: 0.5rem;
  letter-spacing: 0.125px;
  background: none;
}

button:hover,
.button:hover {
  background-color: var(--color-background-button__hover);
}

.button__get {
  color: var(--color-foreground-get);
  background-color: var(--color-background-get);
}

.button__get:hover {
  background-color: var(--color-background-get__hover);
}

.button__post {
  color: var(--color-foreground-post);
  background-color: var(--color-background-post);
}

.button__post:hover {
  background-color: var(--color-background-post__hover);
}

.button__put {
  color: var(--color-foreground-put);
  background-color: var(--color-background-put);
}

.button__put:hover {
  background-color: var(--color-background-put__hover);
}

.button__patch {
  color: var(--color-foreground-patch);
  background-color: var(--color-background-patch);
}

.button__patch:hover {
  background-color: var(--color-background-patch__hover);
}

.button__delete {
  color: var(--color-foreground-delete);
  background-color: var(--color-background-delete);
}

.button__delete:hover {
  background-color: var(--color-background-delete__hover);
}

/* === Icons === */

.unicon.icon__times {
  fill: var(--icon-default);
}

.unicon.icon__times:hover {
  fill: var(--icon-hover);
}

/* === Page === */

/* Header */

.header {
  margin: 2rem 0;
  width: 100%;
}

.header__top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.header__intro > p {
  font-size: 1.5rem;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.header__intro > div {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

/* Nav */

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 1rem;
  justify-items: center;
  height: 100vh;
}

.nav-sections {
  background-color: var(--color-background-secondary);
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  box-shadow: var(--shadow-low);
}

.nav-link {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

/* === Layout === */

.grid {
  display: grid;
}

.col-auto {
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.gap {
  gap: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

/* === Elements === */

/* Card */

.card {
  background-color: var(--color-background-primary);
  border-radius: 0.25rem;
  box-shadow: var(--shadow-low);
}

.card__header {
  padding: 0.25rem 0.5rem;
  border-bottom: solid 1px var(--color-border);
  background-color: var(--color-background-secondary);
}

.card__body {
  padding: 0.5rem;
}

.section {
  background-color: var(--color-background-secondary);
  border-radius: 0.25rem;
}

.section__body {
  padding: 0.5rem;
}

.app__layout {
  display: grid;
  height: 100vh;
}

.app__layout__sidebar-visible {
  grid-template-columns: var(--sidebar-width) calc(100vw - var(--sidebar-width));
}

.app__layout__sidebar-hidden {
  grid-template-columns: 100vw;
}

.sidebar__layout {
  padding: 1rem;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.palette__layout {
  padding: 1rem;
}

.palette__header {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.server-editor-card {
  max-width: 30rem;
}

.path-editor-card {
  max-width: 30rem;
}

.container {
  margin: auto;
  max-width: 70rem;
}

.label-input-group {
  display: flex;
  flex-direction: column;
}

.palette__servers__section {
  margin-bottom: 1rem;
}

.palette__servers__header {
  display: flex;
  justify-items: center;
  margin-bottom: 0.5rem;
}

.palette__servers__editor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.server-editor-card__header {
  display: flex;
  justify-content: space-between;
  margin: -0.5rem -0.5rem 0 -0.5rem;
  padding: 0.5rem;
  background-color: var(--color-background-secondary);
}

.server-editor-card__variables {
  display: flex;
}

.palette__paths__section {
  margin-bottom: 1rem;
}

.palette__paths__editor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.paths-editor-card__header {
  display: flex;
  justify-content: space-between;
}
