:root {
  --shadow-low: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048);
  --shadow-high: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  /* Colors */
  --color-neutral-00: rgba(255, 255, 255, 1);
  --color-neutral-01: rgba(255, 252, 248, 1);
  --color-neutral-02: rgba(255, 240, 236, 1);
  --color-neutral-03: rgba(246, 223, 216, 1);
  --color-neutral-04: rgba(223, 188, 178, 1);
  --color-neutral-05: rgba(187, 157, 148, 1);
  --color-neutral-06: rgba(159, 132, 124, 1);
  --color-neutral-07: rgba(114, 104, 92, 1);
  --color-neutral-08: rgba(94, 86, 77, 1);
  --color-neutral-09: rgba(54, 50, 45, 1);
  --color-neutral-10: rgba(27, 25, 23, 1);
  --color-red-00: rgba(255, 245, 245, 1);
  --color-red-05: rgba(252, 129, 129, 1);
  --color-red-10: rgba(229, 62, 62, 1);
  --color-orange-00: rgba(255, 250, 240, 1);
  --color-orange-05: rgba(251, 211, 141, 1);
  --color-orange-10: rgba(237, 137, 54, 1);
  --color-yellow-00: rgba(255, 255, 240, 1);
  --color-yellow-05: rgba(250, 240, 137, 1);
  --color-yellow-10: rgba(236, 201, 75, 1);
  --color-green-00: rgba(240, 255, 244, 1);
  --color-green-05: rgba(154, 230, 180, 1);
  --color-green-10: rgba(72, 187, 120, 1);
  --color-teal-00: rgba(230, 255, 250, 1);
  --color-teal-05: rgba(129, 230, 217, 1);
  --color-teal-10: rgba(56, 178, 172, 1);
  --color-blue-00: rgba(235, 248, 255, 1);
  --color-blue-05: rgba(144, 205, 244, 1);
  --color-blue-10: rgba(66, 153, 225, 1);
  --color-indigo-00: rgba(235, 244, 255, 1);
  --color-indigo-05: rgba(163, 191, 250, 1);
  --color-indigo-10: rgba(102, 126, 234, 1);
  --color-purple-00: rgba(250, 245, 255, 1);
  --color-purple-05: rgba(214, 188, 250, 1);
  --color-purple-10: rgba(159, 122, 234, 1);

  /* Set colors to elements */

  --background-page: var(--color-neutral-00);
  --color-border: #cbd5e0;

  --color-background-button: #edf2f7;
  --color-background-button__hover: #e2e8f0;

  --color-foreground-get: #44337a;
  --color-background-get: #faf5ff;
  --color-background-get__hover: #e9d8fd;

  --color-foreground-post: #22543d;
  --color-background-post: #f0fff4;
  --color-background-post__hover: #c6f6d5;

  --color-foreground-put: #7b341e;
  --color-background-put: #fffaf0;
  --color-background-put__hover: #feebc8;

  --color-foreground-patch: #744210;
  --color-background-patch: #fffff0;
  --color-background-patch__hover: #fefcbf;

  --color-foreground-delete: #742a2a;
  --color-background-delete: #fff5f5;
  --color-background-delete__hover: #fed7d7;

  --color-background-primary: #ffffff;
  --color-background-secondary: #edf2f7;

  /* Text */
  --text-primary: var(--color-neutral-09);
  --text-secondary: var(--color-neutral-07);
}

/* @media (prefers-color-scheme: dark) {
   TODO build the dark mode 
  :root {
    --text-primary: #ffffff;
  }
} */

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-size: 16px;
  color: var(--text-primary);
  background-color: var(--background-page);
}

/* Typography */

h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
}

.text-secondary {
  color: var(--text-secondary);
}

p {
  margin: 0;
  margin-bottom: 0.25rem;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.container {
  margin: auto;
  max-width: 70rem;
}

.label-input-group {
  display: flex;
  flex-direction: column;
}
